<div class="card" [ngClass]="{'sup': present.review.for.count > present.review.against.count, 'neg' : present.review.for.count < present.review.against.count }">
    <div class="card-header" >
        <h2>{{ present.title }}</h2>
        <a [href]="present.link" target="blank">{{present.description}}</a>
    </div>
    <div class="img-container">
        <img [src]="present.img" [alt]="present.description">
    </div>

    <div class="card-footer">
        <p class="specific">{{present.price}} € </p>
        <p>{{present.creator}} a publié ce voeu le : <p class="specific">{{present.createdDate | date: 'dd/MM/yyyy, à HH:mm '}}</p>
        <div class="buttons-container">
            <button (click)="onUpdateReview('for')"><span [ngStyle]="{ color: 'rgb(0, ' + (present.review.for.count * present.review.for.count) + ', 0)' }">{{present.review.for.count }}</span><img src="../assets/healthcare.png"></button>
            <button (click)="onUpdateReview('against')"><span [ngStyle]="{ color: 'rgb(' + (present.review.for.count * present.review.for.count) + ', 0, 0)' }">{{present.review.against.count }}</span><img src="../assets/garbage.png"></button>
        </div>
        <a [routerLink]="('present/'+ present.id).toString()" *ngIf="fromGrid">Voir en détail</a>
    </div>
</div>